<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
<!--    <servlet>-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        <servlet-class>com.example.HelloServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        <url-pattern>/hello</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.Controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>com.example.Controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>





    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.example.Controller.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>



</web-app>